<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STUDENT DATA</title>
</head>
<body>
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
              
              <th scope="col">FIRST NAME</th>
              <th scope="col"> MIDDLE NAME</th>
              <th scope="col">LAST NAME</th>
              <th scope="col">MOTHER NAME</th>
              <th scope="col">DATE OF BIRTH</th>
              <th scope="col">PLACE OF BIRTH</th>
              <th scope="col">AGE</th>
              <th scope="col">GENDER</th>
              <th scope="col">PHONE NUMBER</th>
              <th scope="col">ADDRESS</th>
              <th scope="col">EMAIL</th>
              <th scope="col">QUALIFICATION</th>
              <th scope="col">LANGUAGE</th>
              <th scope="col">PASSWORD</th>
              <th scope="col">UPDATE</th>
              <th scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody>
          {% for i in obj %}
            <tr>
              
              <td>{{i.first_name}}</td>
              <td>{{i.middle_name}}</td>
              <td>{{i.last_name}}</td>
              <td>{{i.mother_name}}</td>
              <td>{{i.date_of_birth}}</td>
              <td>{{i.place_of_birth}}</td>
              <td>{{i.age}}</td>
              <td>{{i.gender}}</td>
              <td>{{i.phone_number}}</td>
              <td>{{i.address}}</td>
              <td>{{i.email}}</td>
              <td>{{i.Qualification}}</td>
              <td>{{i.language}}</td>
              <td>{{i.password}}</td>
              <td><button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">UPDATE</a></button></td>
              <td><button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">DELETE</a></button></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
</body>
</html>