{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>SHOW CUSTOMER DATA</title>
{% endblock %}    

{% block content %}
{% load static %}

<table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PHONE NUMBER</th>
        <th scope="col">PRODUCT</th>
        <th scope="col">PRICE</th>
        <th scope="col">IMAGE</th>
        <th scope="col">FILE</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
      <tr>
        <td>{{i.customer_id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.phone_number}}</td>
        <td>{{i.product}}</td>
        <td>{{i.price}}</td>
        <td><img src="{{i.customer_image.url}}" alt="image" width="100" height="100"></td>
        <td><a href="{{i.customer_file.url}}">abc file</td>
          <td><button class="btn btn-warning"><a href="{% url 'update_url' i.customer_id %}">UPDATE</a></button></td>
          <td><button class="btn btn-danger"><a href="{% url 'delete_url' i.customer_id %}">DELETE</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
  <div class="pagination" align="center"> 
    <span>
      {% if page_obj.has_previous %}
        <a href="{% url 'showlaptop_url' page_obj.previous_page_number %}"><button class="btn btn-success">PREVIOUS</button></a>
      {% endif %}
      
      <span lass='mx-4'>
          page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
      </span>
  
      {% if page_obj.has_next %}
        <a href="{% url 'showlaptop_url' page_obj.next_page_number %}"><button class="btn btn-warning">NEXT</button></a>
      {% endif %}
    </span>
  </div>
{% endblock %}